@import "./../styles/variables";

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.item {
    width: 31.3%;
    height: 500px;
    margin: .5rem;

    @media (max-width: 760px) {
        width: 100%;
    }
}